* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.two-columns {
  display: flex;
}

.two-columns .col {
  display: flex;
  flex-direction: column;
  background: lawngreen;
  margin: 15px;
  padding: 30px;
}

.galery {
  flex-flow: row wrap;
  display: flex;
}

.galery .img {
  flex: 1 0 28%;
  height: 50px;
  background: blue;
  margin: 10px;
}